.mainnavbar {
  background-color: #007BFF; 
  color: white;
}

.happy-monkey-font {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer-bg {
  background-color: #0056b3; 
}

.joinnowbutton {
  background-color: #007BFF !important; 
  border: none !important;
}

.dropdownbutton {
  background-color: #0056b3 !important; 
  border: 1px solid #004494 !important;
}

@media only screen and (min-width: 992px) {
  .dropdownbutton {
    display: none !important;
  }
}

.m-b-xs {
  margin-bottom: 2%;
}

.m-b-md {
  margin-bottom: 10%;
}

.m-t-xs {
  margin-top: 2%;
}

.m-t-sm {
  margin-top: 5%;
}

* {
  outline: 0 !important;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

#admission-form label,
.labels {
  display: block;
  margin-bottom: 2%;
  font-size: 1.1em;
  font-weight: 300;
  color: black;
  letter-spacing: 0.5px;
}

input,
select {
  display: block;
  width: 100%;
  overflow: hidden;
  outline: none;
  border: 2px solid gray;
}

input {
  margin-top: 1.5%;
  padding: 0 0 5px 0;
  font-size: 1.1em;
  font-weight: 300;
  &:focus {
    border-color: #007BFF; 
  }
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 0px 10px 0 0;
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  margin: 0 10px 0 0 !important;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 23px;
  width: 23px;
  transition: all 0.15s ease-out 0s;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  border: 1px solid #FFF;
  &:checked {
    &:before {
      display: inline-block;
      height: 21px;
      width: 21px;
      position: relative;
      left: 0;
      bottom: 0;
      content: "\e014";
      text-align: center;
      font-family: 'Glyphicons Halflings';
      line-height: 20px;
      font-size: 15px;
      color: #007BFF; 
    }
  }
}

[type=number] {
  width: 45px;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

select {
  height: 40px;
  padding-left: 5px;
}

fieldset {
  margin: 5% 0 0 0;
}

.btnsubmit {
  background-color: #0056b3 !important; 
  color: white !important;
}

.lds-ring {
  display: block;
  width: 100px;
  height: 80px;
}

.lds-ring div {
  color: #007BFF; 
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15%;
  height: 78%;
  align-items: center;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 310px) and (max-width: 363px) {
  .lds-ring div {
    width: 25%;
    height: 78%;
  }
}

@media screen and (min-width: 367px) and (max-width: 538px) {
  .lds-ring div {
    width: 25%;
    height: 93%;
  }
}

@media screen and (min-width: 438px) and (max-width: 538px) {
  .lds-ring div {
    width: 25%;
    height: 119%;
  }
}